.Form-search {
  border-radius: 10px;
  margin: auto;
  margin-bottom: 0;
  width: 1000px;
  padding: 40px 160px;
  background-color: rgb(218, 229, 250);
}

.btn-sum {
  background-color: #004b96;
  color: white;
  border: 1px solid #004b96;
  padding: 5px 10px;
  border-radius: 10%;
}

.container-2 {
  margin: 90px;
  align-items: center;
}

.bagian1 {
  width: 1000px;
  box-sizing: border-box;
  display: inline-block;
  justify-content: center;
}

.bagian1 h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  padding-top: 40px;
}

.bagian2 {
  border: 5px solid rgb(43, 95, 236);
  border-radius: 10%;
  width: 404px;
  box-sizing: border-box;
  padding: 10px;
  float: right;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.bagian2 h3 {
  text-align: center;
}

.clear {
  clear: right;
}

.ahir {
  margin-top: 60px;
  background-color: #004b96;
  text-align: center;
  height: 100px;
  align-items: center;
}

.sistem {
  color: green;
  font-size: 50px;
  padding-right: 20px;
  padding-top: 20px;
}

.windows {
  font-size: 50px;
  padding-top: 20px;
}

.p {
  color: antiquewhite;
}